/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

* {
  font: inherit;
}

body {
  min-height: 100svh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* CSS RESET ENDS HERE */

:root {
  --bg-color: #4b124b;
  --nav-underline-color: 213, 184, 144;
  --text-color: rgb(255, 255, 255);
  --section-color: white;
  --grid-gap: rem;
  --between-card-gap: 1.5rem;
  --after-section-gap: 1rem;
  --content-img-width: 30rem;
  --card-img-width: 30rem;
  --content-max-width: 65ch;
  --cardIntro-max-width: 100ch;
}

#content .image-container {
  position: relative;
  overflow: hidden;
  z-index: 1;

  max-width: var(--content-img-width);
  /* border */
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

  & img {
    transition: 0.5s ease all;
    object-fit: cover;
  }

  &:hover img {
    transform: scale(1.1);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0;
    transition: 0.5s ease all;
  }

  &:hover::after {
    opacity: 0.3;
  }
}

#content img {
  border-radius: 1%;
}

body {
  display: grid;
  justify-content: center;
  grid-template-rows: min-content 1fr;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 2rem;
  gap: var(--grid-gap);
}

header {
  padding: 2rem;
  justify-self: center;
  text-align: center;
}

nav {
  display: flex;
  column-gap: 2rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

nav button {
  color: var(--text-color);
  font-size: 2rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  text-decoration: 3px wavy underline rgba(var(--nav-underline-color));
  cursor: pointer;

  &:hover {
    text-decoration-color: rgba(var(--nav-underline-color), 0.7);
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--between-card-gap);
  max-width: var(--content-max-width);
  line-height: 1.6rem;
}

.big-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.small-title {
  font-weight: bold;
  font-size: 1.2rem;
}

#content .welcoming-title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.card-title {
  max-width: 30ch;
  font-size: 1.1rem;
  font-weight: bold;
}

.card-price {
  font-weight: bold;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  text-decoration: solid underline white 3px;
  color: var(--section-color);
  margin-bottom: var(--after-section-gap);
  line-height: normal;
}

.card-intro {
  max-width: var(--cardIntro-max-width);
  text-wrap: balance;
}

#content .card img {
  width: var(--card-img-width);
}

hr.round-style {
  border: 4px solid #89dfc3;
  border-radius: 100%;
}

.about-paragraph {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.about-section {
  display: flex;
  align-items: start;
  flex-wrap: wrap-reverse;
  gap: 2rem;
}

#content .about-section img {
  width: 100%;
}

.working-hours {
  text-align: center;
  padding: 0 2rem;
  border-left: 1px solid aliceblue;
  border-right: 1px solid aliceblue;

  & :first-child {
    margin-bottom: 0.5rem;
  }
}
